gfx/env/*
config.cfg
*.sav
fte.cfg
ironwail.cfg
keepsrc/fteqcc.ini
ssqccore.txt
history.txt
progs.lno
csprogs.lno
a1.sav
a2.sav
quick.sav
maps/autosave/*.map
maps/*.bsp
maps/*.ent
maps/*.lit
maps/*.map
maps/*.pts
maps/*.prt
maps/*.log
!maps/asset_library.bsp
!maps/asset_library.lit
!maps/b_*.bsp
!maps/statuegarden.bsp
!maps/statuegarden.lit
!maps/test*.bsp
!maps/test*.lit
mapsrc/*.map
mapsrc/*.bsp
mapsrc/*.lit
mapsrc/*.rmf
mapsrc/*.jmf
mapsrc/*.vmf
mapsrc/*.prt
mapsrc/*.texinfo
mapsrc/*.png
mapsrc/*.jpg
mapsrc/*.jpeg
mapsrc/*.pts
mapsrc/autosave/*
!mapsrc/ad_brk/*
!mapsrc/base_brk/*
!mapsrc/bmodels/*
!mapsrc/medieval_brk/*
!mapsrc/mjolnir/*
!mapsrc/rtex_brk/*
!mapsrc/speedbz_brk/*
!mapsrc/asset_library.map
!mapsrc/test*
!mapsrc/template*
!mapsrc/statuegarden.map
!mapsrc/statuegarden.jmf
!gfx/env/egyptoagula*
screenshots/*.png
config.cfg
fte.cfg
ftenq.cfg
ironwail.cfg
*.db
music/*.ogg
music/*.mp3
music/*.wav
*.xlsx#