gfx/env/*
config.cfg
a0.sav
fte.cfg
keepsrc/fteqcc.ini
ssqccore.txt
progs.lno
a1.sav
a2.sav
quick.sav
maps/*.bsp
maps/*.lit
maps/*.map
!maps/asset_library.bsp
!maps/asset_library.lit
!maps/b_*.bsp
!maps/statuegarden.bsp
screenshots/*.png
config.cfg
fte.cfg
ftenq.cfg
ironwail.cfg